# Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized.

# Objectives
- List Data Science Languages
- List Data Science Tools
- Creating a Table of Data Science Tools
- Insert different headers
- Execute simple arithmetic expressions

# Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia

# Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Matplotlib
3. Numpy
4. TensorFlow

| Data Science Tools |
|--------------------|
| Jupyter Notebooks |
| Hadoop |
| Apache |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [2]:
# this code will convert 200 minutes to hours be dividing by 60
200/60

3.3333333333333335

## Author
Bev Stewart